Package: plistbuddy
Version: 2021.08.01
Architecture: iphoneos-arm
Maintainer: Procursus Team <support@procurs.us>
Section: Archiving
Priority: optional
Homepage: https://www.darlinghq.org
Description: a property list editor
 PlistBuddy is a property list editor in macOS. This package is a clone of 
 PlistBuddy from Darling.
Installed-Size: 112
